p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    text-align: justify;
    text-justify: inter-word;
    margin: 10px;
}

.body {
    background: #D3D3D3;
    box-shadow: 0 0 2px #6E6E6E;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

table.tb { 
    width: 100%; 
    border-collapse: collapse; 
    background-color: #557A95;
    height: 100px;
}

#impressum {
    position: fixed;
    padding: 0.3em;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #557A95;
    box-shadow: 0 0 10px #6E6E6E;
    z-index: 10;
}

/* CONTAINER --> damit etwas Rand bleibt*/ 
.container {
    padding: var(--container-padding); /*10px 20px 0;*/
    display: flex;
    height: 50%; /*hier anpassen, je nach dem wieviele Visualisierungen untereinander dargestellt werden sollen */
}

/* DIVs für Visualisierungen, halbe Seiten*/ 
.grafik_links_oben, .grafik_rechts_oben {
    flex: 1;
    border: 1px solid #6E6E6E; 
    box-sizing: border-box;
    padding: 0 5px 0;
    background-color: #E8DFD8; /* zur visuellen Darstellung, kann gelöscht werden */
}

.full-width-box {
    height: 50%; /* Die andere Hälfte der Höhe für die dritte Box */
    border: 1px solid #6E6E6E; 
    box-sizing: border-box;
    padding: var(--container-padding);
    background-color: cadetblue; /* zur visuellen Darstellung, kann gelöscht werden*/
}

.fa:hover, .fa:active {
    background-color: #c5c7e3;
}

.popup {
    top: 23%;
    position: fixed;
    right: 0;
    transform: translateY(-50%);
    background-color: #7395AE;
    padding: 15px;
    z-index: 1000;
    line-height: 1.2;
    text-align: justify;
    text-justify: inter-word;
    height: 250px;
}

/* Initialer Stil für die Buttons Mann und Frau */
.button-default {
    background-color: white;
    color: black;
    border: none;
    width: 80px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
/* Stil für geklickte Buttons Mann und Frau */
.button-active {
    background-color: #CCCCCC;
    color: black;
    border: none;
    width: 80px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
/* Stil für Grundeinstellungen Geschlecht */
.settings-geschlecht {
    background-color: #B1A296;
    border: none;
    width: 9%;
    height: 150px;
    padding-top: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

/* Stil für Dropdowns */
.dropdown-style {
    background-color: white;
    color: black;
    width: 420px;
    margin-top: 5px;
}
/* Stil für Grundeinstellungen Geschlecht */
.settings-dropdown {
    background-color: #B1A296;
    border: none;
    width: 40%;
    height: 150px;
    padding-top: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}


.button-origin {
    background-color: white;
    color: black;
    border: none;
    width: 90%;
    padding: 10px 20px;
    margin: 0 10px 10px 20px;
    cursor: pointer;
    display: block;
}

.button-origin-active {
    background-color: #CCCCCC;
    color: black;
    border: none;
    width: 90%;
    padding: 10px 20px;
    margin: 0 10px 10px 20px;
    cursor: pointer;
    display: block;
}