html {
    background: #D3D3D3;
    margin: 0;
    height: 100%
}

body {
    background: #D3D3D3;
    box-shadow: 0 0 2px #6E6E6E;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 150px 0 0;
}

/* HEADER */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    background-color: #00688B;
    box-shadow: 0 0 10px #6E6E6E;
    z-index: 10;
}

#header-titel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}

#header-titel p {
    padding: 5px 10px;
    border-style: double;
    border-radius: 10px;
    font-weight: 600;
}

/* FOOTER */
#impressum {
    position: fixed;
    padding: 0.3em;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #00688B;
    box-shadow: 0 0 10px #6E6E6E;
    z-index: 10;
}

/* CONTAINER --> damit etwas Rand bleibt*/ 
.container {
    padding: var(--container-padding); /*10px 20px 0;*/
    display: flex;
    height: 50%; /*hier anpassen, je nach dem wieviele Visualisierungen untereinander dargestellt werden sollen */
}


/* DIVs für Visualisierungen, halbe Seiten*/ 
.grafik_links_oben, .grafik_rechts_oben {
    flex: 1;
    border: 1px solid #6E6E6E; 
    box-sizing: border-box;
    padding: 0 5px 0;
    background-color: chocolate; /* zur visuellen Darstellung, kann gelöscht werden */
}

.full-width-box {
    height: 50%; /* Die andere Hälfte der Höhe für die dritte Box */
    border: 1px solid #6E6E6E; 
    box-sizing: border-box;
    padding: var(--container-padding);
    background-color: cadetblue; /* zur visuellen Darstellung, kann gelöscht werden*/